* {
  margin: 0;
  padding: 0;
}

#nav {
  position: relative;
  top: 0;
  z-index: 1001;
}

.navbar {
  background-image: linear-gradient(to right, #ffff, rgb(231, 10, 65));
}

.navbar-brand {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-brand span {
  font-weight: bolder;
  color: black;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

#banner {
  margin-top: 25px;
  position: relative;
  background-image: linear-gradient(to right, #ffff, rgb(255, 253, 352));
}

.title {
  font-weight: bolder;
  margin-top: 25px;
}

.ban-img {
  position: relative;
  z-index: 1;
}

.wave {
  position: absolute;
  bottom: -10px;
  left: 0;
}

#judul-packages {
  margin-top: 75px;
  color: #241c15;
  font-family: Means web, Georgia, "Times New Roman", serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.03125rem;
}

.foto {
  margin-top: 25px;
  position: relative;
  background-image: linear-gradient(to right, #ffff, rgb(231, 10, 6));
}

.item {
  transition: 0.5s ease-in-out;
}

.lesson-wrapper {
  height: 580px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffff;
  text-align: center;
}

#paket {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: relative;
  top: 44%;
  width: 100%;
  color: white;
}

.btn_style {
  border: 1px sloid #cecece;
  border-radius: 3px;
  padding: 3px 10px;
  box-shadow: 2px 2px 2px rgba(100, 98, 98, 0.4);
  color: rgb(223, 192, 20);
  background-color: black;
}

#galeri {
  margin-top: 8px;
  color: #241c15;
  font-family: Means Web, Georgia, Times, "Times New Roman", serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.03125rem;
}

.foto {
  margin-top: 5px;
}

#kontak {
  text-align: center;
  margin-top: 60px;
  color: #241c15;
  font-family: Means Web, Georgia, Times, "Times New Roman", serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.03125rem;
}

.isi-kontak {
  margin-top: 75px;
}

.card-body {
  color: black;
}

footer {
  margin-top: 40px;
  padding-top: 20px;
  margin-bottom: 0;
  background-image: linear-gradient(to right, rgb(231, 179, 10, #ffff));
}
